<footer class="footer">
	<div class="content-970 center-relative">
		<ul>
			<li class="copyright-footer">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>
					document.write(new Date().getFullYear());
				</script> All rights reserved | This template is made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</li>
			<li class="social-footer">
				<a href="https://www.instagram.com/lucien.isidor/" target="_blank">
					<span class="fab fa-instagram"></span>
				</a>
			</li>
		</ul>
	</div>
</footer>
