<footer class="footer">
	<div class="content-970 center-relative">
		<ul>
			<li class="copyright-footer">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>
					document.write(new Date().getFullYear());
				</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</li>
			<li class="social-footer">
				<a href="#">
					<span class="fab fa-twitter"></span>
				</a>
				<a href="#">
					<span class="fab fa-behance"></span>
				</a>
				<a href="#">
					<span class="fab fa-dribbble"></span>
				</a>
				<a href="#">
					<span class="fab fa-facebook"></span>
				</a>
				<a href="#">
					<span class="fa fa-rss"></span>
				</a>
			</li>
		</ul>
	</div>
</footer>
