<div class="menu-wraper center-relative">
	<div class="menu-logo center-text">
		<a href="/">
			<%= tag :img, src: url_image, alt: "Logo" %>
		</a>
	</div>
	<nav id="header-main-menu" class="big-menu">
		<ul class="main-menu sm sm-clean">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/lookbook/">Lookbook</a>
			</li>
			<li>
				<a href="/campaign/">Campaign</a>
			</li>
			<li>
				<a href="/illustrations/">Illustrations</a>
			</li>
			<li>
				<a href="#">Dossiers de style</a>
				<ul class="sub-menu">
					<% data.data.portfolio.each do |item| %>
						<% if item.type == "DOSSIER DE STYLE" %>
							<li>
								<%= link_to item.name, "/dossiers/#{item.id}.html" %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</li>
			<%# <li>
				<a href="#">Contact</a>
			</li> %>
		</ul>
	</nav>
	<div class="clear"></div>
</div>
