<div class="menu-wraper center-relative">
	<div class="menu-logo center-text">
		<a href="index.html">
			<img src="images/logo.jpg" alt="Logo" />
		</a>
	</div>
	<nav id="header-main-menu" class="big-menu">
		<ul class="main-menu sm sm-clean">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="#">Illustrations</a>
				<ul class="sub-menu">
					<li>
						<a href="collection1.html">Collection 1</a>
					</li>
					<li>
						<a href="#">Collection 2</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Projects</a>
				<ul class="sub-menu">
					<li>
						<a href="#">Dossier 1</a>
					</li>
					<li>
						<a href="#">Dossier 2</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="blog.html">Designs</a>
				<ul class="sub-menu">
					<li>
						<a href="#">Tailleur 1</a>
					</li>
					<li>
						<a href="#">Tailleur 2</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="contact.html">Contact</a>
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</div>

